@page
@model ICBFApp.Pages.MadreComunitaria.DeleteModel
@{
}
<h2>Eliminar  Madre Comunitaria</h2>

<p>¿Estás seguro que deseas eliminar este regisgro?</p>

<form method="post">
    <input type="hidden" asp-for="Id_Madre" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-page="/MadreComunitaria/Index" class="btn btn-secondary">Cancelar</a>
</form>